# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
idea

TODO.txt
src/main/resources/assets/stormlight/textures/items/Glowing.psd
/src/old/
/src/generated/
